.page-loader .progress {
	border-left-color:#ffbe00;
}

.player-controls a:hover {
	background:#ffbe00;
	border:1px solid #ffbe00;
}

.services .icon i.fa {
	color:#ffbe00;
	border:1px solid #ffbe00;
}

.services .icon i.fa:hover,
.contact input[type="submit"]:hover,
.up-btn:hover {
	background:#ffbe00;
}

.services h2:after,
.contact input[type='submit'] {
	border:2px solid #ffbe00;
}

.subscribe label.error i,
.contact #ajax-contact-form i,
.contact .notification_ok i,
.google-map .email > a:hover,
footer a {
    color:#ffbe00;
}

.subscribe button {	
	background-color:rgba(255, 190, 0, 0.52); 
	border:1px solid rgba(255, 190, 0, 0.52);
}

.google-map .email > a {
  	color:rgba(255, 190, 0, 0.8);
}

#zoom-in, #zoom-out {
  	background-color:rgba(255, 190, 0, 0.8);
}

#zoom-in:hover, #zoom-out:hover {
	background-color:#ffbe00;
}

.up-btn {
	background:rgba(255, 190, 0, 0.5);
}